# Ignore all files within the Articles_txt_combined folder
Articles_txt_combined/*

# Ignore testing.py
testing.py

# Ignore all files within the old_shit folder
old_shit/*

# Ignore Articles_backup.pkl
Articles_backup.pkl
Articles_backup_with_sentiment.pkl
Article_Backups/*

# Ignore Article_Data.csv
Article_Data.csv